
<h1 class="text-center">Real Time Products</h1>

{{!-- Formulario para agregar productos --}}
<div class="container mt-4">
    <div class="row justify-content-center">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Stock</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody id="tabla-RTP">
                {{#each products}}
                <tr id="fila-{{this.id}}">
                    <td>{{this.stock}}</td>
                    <td><img src="{{this.thumbnail}}" alt="Imagen del producto" width="50px"></td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{!-- De la documentacion oficial de socket.io : --}}
<script src="/socket.io/socket.io.js"></script>
<script>
    const socketClient = io();
</script>

<script src="/js/index.js"></script>